.R1{
    background-color: black;
    color: aliceblue;
}
.e2{
    width: 500px;
    text-align: left;
}
.e3{
    width: 900px;
    text-align: left;
}
.w2{
    text-align: center;
    background-color: black;
    color: antiquewhite;
}
.W3{
    text-align: left;
}